html, body {
    margin: 0;
    width: 100%;
    padding: 0; 
    position: relative;
    /* color: #2E2925; */
    font-family: 'times new roman',times,serif;
    background-color: white;
}


h3 {
    font-family: 'times new roman',times,serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 5;
    color:  black;
    font-size: 20px;
    line-height: 1.5;
    margin: auto;
    text-indent: 2em;
}

h4 {
    text-align: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-family: 'times new roman',times,serif;
    font-size: 20px;
    background-color: white; /*#272D25 */
    color: black;
}

.chat-title {
    text-align: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-weight: bold;
    color: black;
    font-size: 25px;
    font-family: 'times new roman',times,serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    text-indent: 1px;
  }

.paragraph {
    text-align: left; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    /* font-weight: bold; */
    color: black;
    font-size: 20px;
    font-family: 'times new roman',times,serif;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 450px;
    margin-right: 400px;
    text-indent: 1px;
}

.col-md-11 {
    font-family: 'times new roman',times,serif;
    margin-left: 230px;
}

.col-md-12 {
    /* text-align: center; */
    margin-left: 450px;
    font-style: italic;
    color: black;
    /* font-weight: bolder; */
    font-family: 'times new roman',times,serif;
    font-size: 20px;
    background-color: white;
}

.col-md-13 {
    text-align: justify; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-weight: bold;
    color: white;
    font-family: 'times new roman',times,serif;
    margin-left: 200px;
    margin-right: 200px;
    text-indent: 1px;
}

.col-md-14 {
    text-align: center;
    font-weight: lighter;
    color: white;
    float: left;
    padding: 10px;
    font-family: 'times new roman',times,serif;
}

.table {
    margin-left: 10px;
}

/* @media (max-width:550px){
    .headline {
        width: 95%;
        margin-left: 10px;
        }
      .container {
        width: 96%;
        margin-left: 10px;
        background-color: #F2F3F4;
        }
    }
  
  @media (min-width:551px){
    .headline {
        width: 50%;
        margin-left: 10px;
        }
    .container {
         width: 73%;
         margin-left: 10px;
         background-color: #F2F3F4;
        }
    } */


/* For second-part scrolly */
#scrolly3 {
  margin: 0;
  position: relative;
  padding: 1rem;
}



.scrolly-overlay3 {
  position: relative;
  padding: 0;
  min-width: 35rem;
  margin: auto;
}

.sticky-thing3 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 0;
  height: 100vh;
  /* Center everything inside */
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.step3 {
  margin: 0 auto 2rem auto;
  margin-left: 50px;
  margin-bottom: 25rem;
  background-color: white;
  opacity: 80%;
  color: black;
}

.step3 p {
  text-align: left;
  padding: 1px;
  font-size: 18px;
  margin-left: 1px;
  margin-right: 1px;
  /* background-color: #fbc35225; */
  font-family: 'times new roman',times,serif;
}

/* .step3.is-active p {
  opacity: 1;
  background-color: #4290C5;
} */

.hidden { visibility: hidden; }

/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {
#scrolly3.side-by-side {
display: flex;
}

#scrolly3.side-by-side > div {
flex-basis: 0;
flex-grow: 1;
flex-shrink: 1;
padding: 0.75em;
}

#scrolly3.side-by-side .scrolly-overlay3 {
margin-top: 70vh;
order: 0;
/* Change these to adjust sizing options */
min-width: 15rem;
max-width: 20rem;
}

#scrolly3.side-by-side .sticky-thing3 {
order: 1;
flex-grow: 2;
}
}